 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1a7a7;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.calculator-input {
    width: 100%;
    height: 60px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:active {
    transform: scale(0.98);
}

.operator {
    background-color: #f0a500;
    color: white;
}

.operator:hover {
    background-color: #d48f00;
}

.equal-sign {
    grid-row: 2 / span 4;
    background-color: #007bff;
    color: white;
}

.equal-sign:hover {
    background-color: #0056b3;
}

.clear {
    background-color: #ff5c5c;
    color: white;
}

.clear:hover {
    background-color: #ff1a1a;
}

.number, .decimal {
    background-color: #666;
    color: white;
}

.number:hover, .decimal:hover {
    background-color: #888;
}
